* {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;
}

/*======fonts' presets=====*/

@font-face {
font-family: "Novecento sans wide";
src: url(../fonts/Novecentosanswide-Bold.otf);
}

h1 {
	padding-top: 15px;
	font-family: "Novecento sans wide", Helvetica, Arial, sans-serif;
	font-size: 2.000em;
	letter-spacing: 4.1px;
	color: #f14437;
}

h2 {
	padding-bottom: 15px;
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 21px;
	letter-spacing: 1.27px;
	color: #252525;
}

h3 {
	width: 100%;
	font-family: "Novecento sans wide", Helvetica, Arial, sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;	
	color: #f14437;	
}

h4 {
	margin: 16px 8px 16px 0;
	font-family: "Novecento sans wide", Helvetica, Arial, sans-serif;
	font-weight: medium;
	font-size: 14px;
	letter-spacing: 0.6px;
	color: #252525;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.6px;
	color: #252525;
}

header, 
.container, 
footer {
	margin: 0 auto;
	width: 60%;
}

section {
	padding: 3% 0;
	float: left;
	width: 100%;
	background: url('../images/bg.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.content {
	padding: 65px 30px 30px 30px;
	float: right;
	width: 45%;
	min-width: 350px;
	background-color: rgba(255,255,255, 0.8);	
	background-image: url("../images/triangle.png");
	background-repeat: no-repeat;
	background-position: center 5%;
}

.row1, 
.row2 {
	float: left;
	width: 100%;
}

.columnleft {
	float: left;
	width: 35%;	
}

.columnleft h4:nth-child(2) {
	padding-top: 20px;
}

.skillsrigth {
	padding-left: 35%;
}

.columnright {
	float: right;
	width: 65%;
}

footer p {
	margin-right: 3%;
    float: left;
	width: 30%;
	font-size: 1vw;
}

footer a {
	text-decoration: none;
	color: #f14437;
	cursor: pointer;
}


/*
============ MEDIA QUERIES ===============
*/

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 670px) and (min-width: 320px) {

	header, 
	.container, 
	footer {
		margin: 0 auto;
		width: 90%;	
	}

	h1 {
		font-size: 1.50em;
	}

	h4 {
		margin: 11px 8px 5px 0;
	}

	p{
		margin: 11px 0;
	}

	section {
		padding: 6% 0;
		margin-bottom: 2%;
	}

	.content {
		padding-top: 50px;
		min-width: 100%;
		background-image: url("../images/triangle@2x.png");
		background-size: 7%;
		background-repeat: no-repeat;
		background-position: center 5%;
	}

	.columnleft, 
	.columnright {
		width: 100%;
	}

	.skillsrigth {
		padding-left: 0;
	}

	footer p {
		margin: 5px 0;
		width: 100%;
		font-size: 1em;
	}

}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 671px) and (max-width : 1024px) {

	header, 
	.container, 
	footer {
		margin: 0 auto;
		width: 90%;
	}

	section {
		margin-bottom: 2%;
	}

	footer p{
		width: 100%;
		font-size: 0.85em;
		margin: 1%;
	}
 

}



